body {
    background-color: #3c2a21;
    font-family: rajdhani, sans-serif;
}

h3 {
    font-family: Poetsen One, sans-serif;
    font-size: 55px;
}

.section-center {
    background-color: #d1bb9e;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 5rem;
    transition: box-shadow 0.3s ease;
}

.section-center:hover {
    box-shadow: 0 4px 8px #0000001a;
}

.todos-form {
    margin-bottom: 2rem;
}

.error1 {
    background-color: #322c2b;
    text-align: center;
    font-size: 30px;
    color: white;
    animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
    0% {
        background-color: #322c2b; /* Start color */
    }
    100% {
        background-color: #d24545; /* End color */
    }
}

.todos-form h3 {
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-control {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

#todo-input {
    padding: 0.5rem;
    padding-left: 1rem;
    background-color: #fff2e1;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
    flex: 1;
    color: #495057;
}

#todo-input::placeholder {
    text-align: center;
    color: #957777;
    font-family: montserrat, sans-serif;
    font-size: 1.2rem;
    border: none;
}

.submit-btn {
    background-color: #803d3b;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.icon {
    height: 180px;
    margin-left: -2%;
}

.submit-btn:hover {
    background-color: #7aba78;
}

.todos-container {
    margin-top: 2rem;
}

.todo-item {
    background-color: #ead8c0;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.todo-item:hover {
    background-color: #fff2e1;
}

.title {
    margin-bottom: 0;
    color: #a79277;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.title:hover {
    color: #57370e;
}

.btn-container {
    display: flex;
    align-items: center;
}

.clear-btn {
    width: 40%;
    margin-left: 28.5%;
    background-color: #803d3b;
    color: #fff;
    font-family: roboto, sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.clear-btn:hover {
    background-color: #d24545;
}
.edit-btn,
.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.edit-btn:hover,
.delete-btn:hover {
    color: #597e52;
}

.delete-btn {
    color: #dc3545;
}
